@media (max-width: 768px) {
    .nav {
      flex-direction: column; /* Affiche les éléments verticalement */
    }
  }

nav {
    height: 50px;
    background-color: rgb(192, 186, 186);
}

.title h1 {
    text-align: center;
    margin-top: 150px;
}

.menu_title h2 {
    text-align: center;
    margin-top: 200px;
}

.carte{
    display: flex;
    justify-content: space-around;
    margin: 95px;
}

.image_a_propos{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin: 80px;
}

.form_title h2{
    text-align: center;
}

.form_input{
    margin-left: 100px;
    margin-right: 100px;
}

.btn-primary {
    background-color: blue;
    border-color: blue;
    color: white;
}


footer p {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  
    .title h1,
    .menu_title h2,
    .form_title h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .carte {
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
  
    .image_a_propos {
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
  
    .form_input {
      margin: 0 20px;
    }
  }
  
  /* ... rest of your CSS ... */